.content-footer{
    background-color: rgb(53, 49, 49);
    a{
        color: white;
     }
    &__logo-footer{
        padding-top: 30px;
        padding-left: 40px;
        img{
            height: 25px;
            filter: invert(1);
        }
    }  
    &__list-footer{  
        padding-bottom: 20px; 
        list-style: none;
        &__footer-link {
            list-style: none;
            margin-bottom: 0px;
            li{
           padding-top: 10px;
             }
            i{
           padding-right: 10px;
            }
        }   
    }    
}

