.head_btn{
    color: white;
    display: inline-block;
    background: linear-gradient( 180deg,violet,#993d99);
    padding: 1em;
    margin: 0px auto;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 1px #a1a1a1;
    cursor: pointer;
}