.btn{
    color: white;
    display: inline-block;
    background: linear-gradient( 180deg,rgb(238,130,238),rgb(153,61,153));
    padding: 1em;
    margin: 0px auto;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 1px #a1a1a1;
    cursor: pointer;
    transition-duration: 400ms;
    &:hover {
        transform: scale(1.1);
        background:linear-gradient( 180deg,rgba(153,61,153,0.8),rgba(238,130,238,0.8));
    }
}