@import "../Utiles/variables";

.card-menu{
    margin-bottom: 2em;
    width: 90%;
    background-color: white;
    box-shadow: 5px 10px 15px 2px #d6d6d6;
    border-radius: 20px 20px;
    transition-duration: 700ms;

    img{
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        width: 100%;
        height: 180px;
    }
    p,h3{
        margin: 10px 0px 10px 20px;
        color: black;
    }
   
    &__content-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .heart-like{
        position: relative;
        margin-right: 1em;
        font-size: 2em;
        color: grey;
       
        .first-icon{
            opacity: 0.5;
            position: absolute;
            right: -10px;
            bottom: -15px;
        }
        
        .hover-icon{
        position: absolute;
        right: -10px;
        bottom: -15px;
        color: transparent;
        opacity: 0.3;
        }
        :hover{
            background: linear-gradient($secondary-color,$primary-color);
            background-clip: text;
            -webkit-background-clip: text;
            transition: color 700ms , opacity 1000ms ;
            opacity: 1;
        }  
    }
    .card-menu-side{
        position: relative;
        .side-menu{
            position: absolute;
            top: 20px;
            right: 20px;
            width: 100px;
            background-color: $tertiary-color;
            vertical-align: middle;
            height: 40px;
            border-radius: 2px;
           
            &__text{
                color: green;
            }
        }
    }
    
    &:hover{
        transform: scale(1.1);
    }
    @media screen and (min-width: 770px) and (max-width: 1099px){
        width: 45%;
        margin: 1em;
        }
        @media  screen and (min-width: 1100px) {
            width: 40%;
            margin: 1em;
        }
}  


// ******** carte des restaurant ******** //

.menu{
    display: flex;
    align-content: space-between;
    align-items: flex-end;
    background: #ffff;
    margin: 1em 1em 0em 0em;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px #a1a1a1; 
    padding-left: 10px;
    &__menu-text{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
         white-space: nowrap;
        h3,p{
            margin: 10px;
            font-size: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__menu-prix{
        margin-bottom: 10px;
        padding-right: 1.5em;
    }

    &__checkbox{
        display: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 30%;
        height: 68px;
        i{
            font-size: 20px;
            color: white; 
        }  
    }
    
    @media screen and (min-width: 1100px){
        width: 30%;
     }
} 

.menu:hover .menu__checkbox {
    display: block;
    background: $tertiary-color;
    max-width: 50px;
    animation: slidebox ease 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  
   .menu:hover .menu__checkbox i{
    position: absolute;
    left: 14px;
    top: 28px;
    background: $tertiary-color;
    animation: spinebtn ease-in-out 0.6s 1;
  }